In [7]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
from tqdm import tqdm_notebook

In [2]:
base_url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html?page='
page_url = '1'
web_url = base_url + page_url
with urllib.request.urlopen(web_url) as response:
    html = response.read()
    soup = BeautifulSoup(html, 'html.parser')

In [11]:
prices=[]; titles=[]; writers=[]

In [12]:
for i in tqdm_notebook(range(20)):
    page_url = str(i+1)
    web_url = base_url + page_url
    with urllib.request.urlopen(web_url) as response:
        html = response.read()
        soup = BeautifulSoup(html, 'html.parser')
        lis = soup.select('.sub_book_list')
        for li in lis:
            spans = li.find_all('span')
            price_end_index = index2 = spans[3].get_text().find('원')
            pri = spans[3].get_text()[:price_end_index]
            price = pri.replace(',','')

            divs = li.find_all('div')
            info = divs[1]
            ps = info.select('p')
            title = ps[0].string
            writer = ps[1].string

            prices.append(price)
            titles.append(title)
            writers.append(writer)

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

In [13]:
books = pd.DataFrame({
    '제목':titles,
    '저자':writers,
    '가격':prices
})
books.tail()

,제목,저자,가격
296,문제해결력을 키우는 이공계 글쓰기 : 발표와 토론까지,한성우,18000
297,"진로개발과 직업세계 : 대학생과 청년층을 위한 진로, 취업지침서","서일수 , 김도균 , 김지혜 , 이정배",20000
298,Essential Calculus,James Stewart,36000
299,"IT CookBook, 디지털 통신 시스템 : Digital Communicatio...","정호영 , 임승각",25000
300,"IT CookBook, 운영체제론 : Operating Systems, 3rd Ed","하비 디텔 , 폴 디텔 , 데이빗 쇼픈스",32000

In [14]:
books.to_csv('New_Book_List.csv', sep=',', encoding='utf8')