###  연습문제 1

In [1]:
import sqlite3
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('create table if not exists Eagles \
                    (back_no int primary key not null, \
                    name text, \
                    position text);')

In [2]:
cur = conn.cursor()
cur.execute("insert into Eagles values(1, '하주석', '내야수');")
cur.execute("insert into Eagles values (57, '정우람', '투수'), (8, '정근우', '내야수');")

In [3]:
conn.commit()

In [4]:
back_no = 50
name = '이성열'
position = '외야수'
cur = conn.cursor()
sql = 'insert into Eagles values (?, ?, ?);'
cur.execute(sql, (back_no, name, position))
conn.commit()

In [5]:
players = ((22, '이태양', '투수'), (13, '최재훈', '포수'))
cur = conn.cursor()
sql = 'insert into Eagles values (?, ?, ?);'
cur.executemany(sql, players)
conn.commit()

In [6]:
cur.execute('alter table Eagles add column birth integer')

In [7]:
position = '외야수'
back_no = 8
cur.execute('update Eagles set position=? where back_no=?', (position, back_no))
cur.execute('select*from Eagles where back_no=?', (back_no,))
cur.fetchone()
conn.commit()

In [8]:
data = ((1995,1), (1986,57))
sql = 'update Eagles set birth=? where back_no=?'
cur.executemany(sql, data)
conn.commit()

In [9]:
cur = conn.cursor()
cur.execute('delete from Eagles where back_no=1;')
conn.commit()

In [10]:
# 연습문제 1. 테이블 만들고 join 후 결과 보기
cur = conn.cursor()
cur.execute('create table if not exists Pitcher_stats \
                (back_no int primary key not null, \
                ERA real, \
                IP int, \
                SO int);')

In [11]:
conn.commit()

In [12]:
players = ((57, 1.29, 7, 4), (61, 27.00, 1, 0))
cur = conn.cursor()
sql = 'insert into Pitcher_stats values (?, ?, ?, ?);'
cur.executemany(sql, players)
conn.commit()

In [13]:
## 백넘버 22 빼고 61 넣기
cur = conn.cursor()
cur.execute('delete from Eagles where back_no=22;')
conn.commit()

In [14]:
cur = conn.cursor()
cur.execute("insert into Eagles values(61, '박성원', '투수', 1994);")
conn.commit()

In [15]:
cur.execute('select Ea.back_no, Ea.name, Ea.position, Ps.ERA, Ps.IP, Ps.SO \
    from Eagles as Ea \
    join Pitcher_stats as Ps \
    on Ea.back_no = Ps.Back_no')
rows = cur.fetchall()
for row in rows:
    print(row)

(57, '정우람', '투수', 1.29, 7, 4)
(61, '박성원', '투수', 27.0, 1, 0)

### 연습문제 2

In [16]:
# 대표적인 걸/보이그룹 5개 이상의 정보를 갖는 테이블 만들기
import sqlite3
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('create table if not exists Singer_group \
                    (id integer primary key autoincrement not null, \
                    group_name text not null, \
                    구성원수 int, \
                    데뷔일자 text, \
                    소속사 text);')
conn.commit()

In [17]:
singer = (('방탄소년단', 7, '2013-06-13', '빅히트'), ('마마무', 4, '2014-06-19', 'RBW'), ('세븐틴', 13, '2015-05-26', '플레디스'), ('트와이스', 9, '2015-10-20', 'JYP'), ('비투비', 7, '2012-03-21', '큐브'), ('블랙핑크', 4, '2016-08-08', 'YG'))
cur = conn.cursor()
sql = 'insert into Singer_group(group_name, 구성원수, 데뷔일자, 소속사) values (?, ?, ?, ?);'
cur.executemany(sql, singer)
conn.commit()

In [18]:
# 노래 10곡 이상의 정보를 갖는 테이블 만들기
import sqlite3
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('create table if not exists Song \
                    (song_id integer primary key autoincrement not null, \
                    song_name text, \
                    그룹id int, \
                    발표년도 text, \
                    작곡가 text, \
                    도입부가사 text);')
conn.commit()

In [19]:
songs = (
    ('Dynamite', 1, '2020', 'David Stewart', 'Cause I-I-I\'m in the stars tonight So watch me bring the fire and set the night alight'),
    ('딩가딩가', 2, '2020', '김도훈', '딩가딩가할래 친구들 모아 한잔 할래 Drink like a like a like a fish'),
    ('아주 NICE', 3, '2016', '우지', '아침엔 모닝콜 필수던 내가 오늘은 번쩍 번쩍 눈이 떠지는가'),
    ('I CAN\'T STOP ME', 4, '2020', 'Michel \'Lindgren\' Schulz', '알람이 울려대 ring ring a ling 서로의 눈길이 닿을 때마다 알면서 빙빙 도는데'),
    ('그리워하다', 5, '2017', '임현식', 'My life is incomplete It\'s missing you 오늘도 하루를 보내 다를 게 없이'),
    ('How You Like That', 6, '2020', '테디', 'BLACKPINK in your area 보란 듯이 무너졌어 바닥을 뚫고 저 지하까지')
)
cur = conn.cursor()
sql = 'insert into Song(song_name, 그룹id, 발표년도, 작곡가, 도입부가사) values (?, ?, ?, ?, ?);'
cur.executemany(sql, songs)
conn.commit()

In [20]:
songs = (
    ('힘든 건 사랑이 아니다', '2020', '임창정', '내가 널 떠났어야 했는데 왜 떠나야 하는지도 아는데'),
    ('DON\'T TOUCH ME', '2020', '블랙아이드 필승', 'Trouble 이래 다 그래 세 보인대 어쩔래 난 멋 부리네 더 꾸미네'),
    ('취기를 빌려', '2020', '새봄', '언제부턴가 불쑥 내 습관이 돼버린 너 혹시나 이런 맘이 어쩌면 부담일까'),
    ('잠이 오질 않네요', '2020', '장범준', '당신은 날 설레게 만들어 조용한 내 마음 자꾸만 춤추게 해')
)
cur = conn.cursor()
sql = 'insert into Song(song_name, 발표년도, 작곡가, 도입부가사) values (?, ?, ?, ?);'
cur.executemany(sql, songs)
conn.commit()

In [21]:
# 조인
cur.execute('select Sg.group_name, Sg.구성원수, Sg.데뷔일자, So.song_name, So.발표년도 \
    from Singer_group as Sg \
    join Song as So \
    on Sg.id = So.그룹id')
rows = cur.fetchall()
for row in rows:
    print(row)

('방탄소년단', 7, '2013-06-13', 'Dynamite', '2020')
('마마무', 4, '2014-06-19', '딩가딩가', '2020')
('세븐틴', 13, '2015-05-26', '아주 NICE', '2016')
('트와이스', 9, '2015-10-20', "I CAN'T STOP ME", '2020')
('비투비', 7, '2012-03-21', '그리워하다', '2017')
('블랙핑크', 4, '2016-08-08', 'How You Like That', '2020')

### 연습문제 3

In [1]:
# 비밀번호, 이름
import sqlite3
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('create table if not exists Users \
                    (name text, \
                    pwd text);')
conn.commit()

In [2]:
info = (('김민준','1234'), ('이서연','1234'), ('박준서','1234'),('최하은','1234'))
cur = conn.cursor()
sql = 'insert into Users(name, pwd) values (?, ?);'
cur.executemany(sql, info)
conn.commit()

In [3]:
cur = conn.cursor()
name = input('이름을 입력해주세요')
pwd = input('비밀번호를 입력해주세요')
cur.execute('select * from Users where name like ?;', (name,))
result = cur.fetchone()
try:
    if result[0] == name and result[1] == pwd:
        print('성공')
    else:
        print('실패')
except:
    print('실패')

성공

In [4]:
conn.close()