In [12]:
import numpy as np
import pandas as pd

In [20]:
#1. 랜덤으로 5개의정수를 만들어 시리즈로 생성하기
a = np.random.randint(100, size=5)
s = pd.Series(data=a)
s

0    94
1    79
2    11
3    58
4    43
dtype: int32

In [23]:
#2. 랜덤으로 5개의 실수를 만들어 시리즈로 생성하기
b = np.random.rand(5)
z = pd.Series(b)
z

0    0.418890
1    0.379692
2    0.946745
3    0.162012
4    0.166766
dtype: float64

In [25]:
#3. 혈액형 통계 수치를 이용하여 인덱스를 가지는 시리즈 생성하기
blood_pct = [28, 34, 27, 11]
blood = ['O형', 'A형', 'B형', 'AB형']
s_blood = pd.Series(blood_pct, index=blood)
s_blood

O형     28
A형     34
B형     27
AB형    11
dtype: int64

In [28]:
#4. 1 ~ 25숫자를 가지는 DataFrame만들기
k = pd.DataFrame(np.arange(1,26).reshape(5, 5))
k

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25

In [30]:
#5. 아래와 같은 모습의 DataFrame만들기
data = (15, 1, 'a', 100), (16, 2, 'b', 90), (15, 3, 'c', 80), (14, 4, 'd', 70)
column = ['나이', '번호', '이름', '점수']

l = pd.DataFrame(data=data, columns=column)
l

   나이  번호 이름   점수
0  15   1  a  100
1  16   2  b   90
2  15   3  c   80
3  14   4  d   70

In [31]:
## http://blog.daum.net/revisioncrm/460

cust = pd.DataFrame({'age' : np.arange(30,51), 'sales' : np.repeat([65,60,80],7)})
freq = np.repeat([3,7,4,2,1,1,2],3)
# sales는 각 고객별 총판매금액이며 freq는 구매횟수이다.

In [ ]:
# 문제1: 고객의 수를 계산하라